ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

nav {
  padding: 15px;
  height: 70px;
}

.left-nav-element li {
  float: left;
  margin-right: 10px;
  font-weight: 700;
  cursor: pointer;
}

.right-nav-element li {
  float: right;
  margin-left: 10px;
  cursor: pointer;
}
