div {
  margin: 0px;
  padding: 0px;
}

body {
  padding: 25px 300px;
  background: rgb(44, 44, 44);
  color: white;
}

.dark-mode {
  background: rgb(44, 44, 44);
  color: white;
}

.white-mode {
  background: rgb(240, 240, 240);
  color: rgb(0, 0, 0);
}

.rotate {
  transform: rotate(180deg);
}
