div {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

h2,
h4,
p {
  margin: 0;
}

.contents-container {
  padding: 0 12%;
  margin-bottom: 50px;
}

.contents-title {
  margin-bottom: 20px;
  position: relative;
}
.contents-title h2 {
  float: left;
}
.contents-title p {
  float: right;
  color: rgb(130, 130, 130);
  cursor: pointer;
}
.contents-title::after {
  content: "";
  display: block;
  clear: both;
}

.public-p {
  font-size: 14px;
  color: rgb(130, 130, 130);
}

/* navbar css */
nav {
  box-sizing: border-box;
  background-color: white;
  height: 70px;
  line-height: 30px;
  padding: 20px;
}

.navbar-first-menu {
  display: flex;
  float: left;
}

.navbar-second-menu {
  display: flex;
  float: right;
}

.nav-item:not(:last-child) {
  margin-right: 20px;
}

.nav-item:hover {
  color: tomato;
  cursor: pointer;
}

.btn {
  margin-left: 5px;
  border: none;
  background-color: rgb(191, 191, 238);
  color: rgb(65, 65, 205);
  border-radius: 5px;
}

.nav-input {
  position: relative;
  background-color: #eee;
  width: 300px;
  height: 35px;
  border-radius: 5px;
}

.nav-input i {
  color: rgb(115, 116, 116);
  position: absolute;
  left: 7px;
  top: 8px;
}

.nav-input input {
  position: absolute;
  left: 25px;
  width: 100%;
  height: 95%;
  border: none;
  background-color: #eee;
}
.nav-input input:focus {
  background-color: white;
}

/* main-background css */
.main-bg {
  width: 100%;
  height: 350px;
  background-color: rgb(184, 243, 223);
  color: black;
  position: relative;
  transition: all 0.7s;
  margin-bottom: 30px;
}

.main-bg-menu {
  width: 150px;
  height: inherit;
  position: absolute;
  right: 200px;
}

.main-bg-menu-item {
  background-color: white;
  border: 1px solid black;
  height: 70px;
}

.active {
  background-color: tomato;
}

.first-contents-detail {
  clear: both;
}

.first-contents-detail-menu {
  border-bottom: 1px solid rgb(206, 206, 206);
}
.first-contents-detail-menu button {
  font-size: 16px;
  padding: 5px;
  border: none;
  background-color: white;
}
.first-contents-detail-menu button:hover {
  border-bottom: 1px solid tomato;
}

.first-contents-detail-item-container {
  display: flex;
}

.first-contents-detail-item-group {
  margin-right: 10px;
  width: 100%;
}

.first-contents-detail-item {
  padding: 15px 10px 15px 0px;
  border-bottom: 1px solid rgb(206, 206, 206);
  display: flex;
  align-items: center;
  position: relative;
}
.first-contents-detail-item:hover {
  cursor: pointer;
  background-color: rgba(228, 228, 228, 0.344);
}
.first-contents-detail-item .rank {
  padding: 5px 10px;
  text-align: center;
}
.first-contents-detail-item .last-rank {
  padding: 5px 5.5px;
}

#price {
  color: rgb(130, 130, 130);
  position: absolute;
  right: 10px;
}

.first-contents-detail-item div h4:hover + p {
  display: block;
}

.arrow-box {
  display: none;
  position: absolute;
  padding: 8px;
  top: -30px;
  border-radius: 8px;
  background: #333;
  color: #fff;
  font-size: 14px;
}

.arrow-box:after {
  position: absolute;
  top: 100%;
  left: 30%;
  transform: rotate(180deg) translateX(-50%);
  margin-left: -10px;
  border: solid transparent;
  border-color: rgba(51, 51, 51, 0);
  border-bottom-color: #333;
  border-width: 10px;
  pointer-events: none;
  content: " ";
}

.second-contents-item-container {
  display: flex;
  justify-content: space-between;
}

.second-contents-item {
  width: 16.6666666667%;
  margin-right: 15px;
}
.second-contents-item div {
  overflow: hidden;
  width: 100%;
  border-radius: 10px;
}
.second-contents-item img {
  width: 100%;
  transition: all 0.5s;
  height: 100%;
}
.second-contents-item h4 {
  margin-top: 15px;
  margin-bottom: 20px;
  font-weight: 400;
}
.second-contents-item:hover img {
  transform: scale(1.2);
}

@media screen and (max-width: 576px) {
  .nav-item,
.nav-input {
    display: none;
  }
  .nav-logo {
    display: block;
    margin-left: 20px;
  }
  .main-bg-menu {
    width: 100px;
    right: 90px;
  }
  .first-contents-detail-item-container {
    flex-wrap: wrap;
  }
  .second-contents-item-container {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .second-contents-item {
    margin-bottom: 40px;
    width: 45%;
  }
  .second-contents-item div,
.second-contents-item img {
    width: 170px;
    height: 170px;
  }
}/*# sourceMappingURL=main.css.map */